RewriteEngine On

# Remover extensão .php e permitir URLs sem a especificação do arquivo index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Redirecionar explicitamente as URLs que terminam com /index para a versão sem o /index
RewriteCond %{THE_REQUEST} /index(\.php)? [NC]
RewriteRule ^(.*)index(\.php)?$ /$1 [L,R=301,NC]
